<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>augs.link</title>
        <script type="module" src="/public/home_bundle.js"></script>
        <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
        <link rel="stylesheet" href="/public/home.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Archivo:ital@1&display=swap" rel="stylesheet">
    </head>

    <body>
        <main class="welcome">
            <h1 class="welcome__greeting">
                augs.link
            </h1>
            <form method="POST">
                <button type="submit" id="create-room" class="welcome__button">
                    create room
                </button>
            </form>
        </main>
    </body>
</html>
