<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>aux wire</title>
        <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
        <link rel="stylesheet" href="/public/home.css">
    </head>

    <body>
        <main class="welcome">
            <h1 class="welcome__greeting">
                aux wire
            </h1>
            <form action="" method="post">
                <input type="submit" id="create-room" value="create room" class="welcome__button">
            </form>
        </main>
    </body>
</html>
