:root {
    font-family: 'Archivo', sans-serif;
    --primary-bg-color: #202125;
    --primary-fnt-color: white;
    --primary-btn-bg-color: #89b3f7;
    --secondary-bg-color: #303135;
    --tertiary-bg-color: #404046;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--primary-bg-color);
}

h4 {
  color: var(--primary-fnt-color);
}

.full-flex {
    height: 100%;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
}

.draggable {
  border: 2px dashed white;
}

.column {
  flex-direction: column;
}

.default-margin {
  margin: 5px;
}

.centered {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay-sect {
  position: relative;
}

.overlay-sect .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%); /* Overlay gradient */
  z-index: 1;
  opacity: 0;
  transition: opacity .2s ease; 
}

.overlay-sect.overlay .overlay {
  display: flex;
  opacity: 1;
}

.secondary-theme {
  background-color: var(--secondary-bg-color)
}

.tertiary-theme {
  background-color: var(--tertiary-bg-color)
}

.centered-icon {
  width: 25%;
  height: 25%;
  fill: var(--primary-fnt-color);
}


.user-carousel {
  background-color: var(--secondary-bg-color)
}

.user-carousel-cell {
  width: 33%; /* half-width */
  height: 100px;
  margin-right: 10px;
  background: var(--tertiary-bg-color);
  border-radius: 5px;
  counter-increment: gallery-cell;
}

/* cell number */
.user-carousel-cell:before {
  display: block;
  text-align: start;
  content: counter(gallery-cell);
  color: white;
}