:root {
    font-family: 'Archivo', sans-serif;
    --primary-bg-color: #202125;
    --primary-fnt-color: white;
    --primary-btn-bg-color: #89b3f7;
    --secondary-bg-color: #303135;
    --tertiary-bg-color: #404046;
    --warning-color: #ff0000;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--primary-bg-color);
}

section {
  position: relative;
} 

h4 {
  color: var(--primary-fnt-color);
}

.pos-rel {
  position: relative;
}

.hidden {
  display: none;
}

.full-flex {
    height: 100%;
    display: flex;
    box-sizing: border-box;
}

.frame {
  padding: 10px;
}

.flex-cell-sm {
  flex: 1;
}

.flex-cell-md{
  flex: 2;
}
.flex-cell-lg{
  flex: 3;
}

.draggable {
  border: 2px dashed white;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.full-abs {
  position: absolute;
  width: 100%;
  height: 100%;
}

.centered-abs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-right-abs {
  position: absolute;
  top: 0;
  right: 0; 
}

.flex-1 {
  flex: 1;
}

.default-margin {
  margin: 5px;
}

.centered {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.list-contain {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%); /* Overlay gradient */
  z-index: 1;
  opacity: 1;
  transition: opacity .2s ease; 
}

.invisible {
  opacity: 0;
}

.handle {
  cursor: grab;
}

.hidden-edit {
  caret-color: transparent;
}

.hidden-input {
  border: none;
  caret-color: transparent;
  height: 0;
  width: 0;
}

.secondary-theme {
  background-color: var(--secondary-bg-color)
}

.tertiary-theme {
  background-color: var(--tertiary-bg-color)
}

.primary-icon-stroke {
  stroke: var(--primary-fnt-color);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.centered-icon {
  height: 25%;
  fill: var(--primary-fnt-color);
}

.warn-btn {
  color: var(--primary-fnt-color);
  background-color: #ff0000;
}

.warn-btn:hover {
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.z-1 {
  z-index: 1;
}

.z-0 {
  z-index: 0;
}

.z-2 {
  z-index: 2;
}

.song-queue-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  counter-reset: item;
  max-height: 250px;
  overflow-y: auto;
}

.song-list-item {
  background-color: var(--tertiary-bg-color);
  color: var(--primary-fnt-color);
  padding: 10px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.song-title::before {
  content: counter(item);
  counter-increment: item;
  font-weight: bold;
  color: white;
  padding: 5px;
  margin-right: 10px;
}

.song-title {
  display: flex;
  align-items: center;
  max-width: 225px;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.user-carousel {
  background-color: var(--secondary-bg-color)
}

.borderless {
  border: none;
}

.small-btn {
  width: 50px;
}

.warning-hover:hover {
  fill: var(--warning-color); 
}

.user-carousel-cell {
  width: 200px; /* half-width */
  height: 200px;
  margin-right: 10px;
  background: var(--tertiary-bg-color);
  counter-increment: gallery-cell;
}

.lds-facebook-sm {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
}

.lds-facebook-sm div {
  position: absolute;
  width: 8px;
  height: 32px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook-sm div:nth-child(1) {
  left: 4px;
  animation-delay: -0.24s;
}

.lds-facebook-sm div:nth-child(2) {
  left: 16px;
  animation-delay: -0.12s;
}

.lds-facebook-sm div:nth-child(3) {
  left: 28px;
  animation-delay: 0s;
}

.lds-facebook-md {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook-md div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook-md div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook-md div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook-md div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}


.audio-canvas-sm {
  width: 100%;
}

@keyframes lds-facebook {
  0% {
    top: 4px;
    height: 24px;
  }
  50%,
  100% {
    top: 12px;
    height: 12px;
  }
}