:root {
  --distance-to-end-of-queue: 300px;
  --distance-up-one-spot: -50px;
}

html {
  height: 100%;
  display: flex;
}

body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.room-user-combo {
  display: flex;
  background-color: white;
  flex: 1;
}

.user {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.moving-to-end {
  animation-name: move-to-end;
  animation-duration: 3s;
}

.moving-up-one {
  animation-name: move-up-one;
  animation-duration: 3s;
}

@keyframes move-up-one {
  to {
    transform: translateX(var(--distance-up-one-spot));
  }
}

@keyframes move-to-end {
  to {
    transform: translateX(var(--distance-to-end-of-queue));
  }
}

.baton {
  view-transition-name: user-slide;
}

.pink {
  background-color: pink;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.gold {
  background-color: gold;
}

.grey {
  background-color: grey;
}

.purple {
  background-color: purple;
}

.orange {
  background-color: orange;
}

.users {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.room-id {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.room-id-text {
  font-size: 5vw;
}

.drop-section {
  flex: 2;
  background-color: yellow;
}

.music-player {
  flex: 1;
  background-color: red;
}
