html {
  height: 100%;
  display: flex;
}

body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.room-user-combo {
  display: flex;
  background-color: white;
  flex: 1;
}

.user {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.pink {
  background-color: pink;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.black {
  background-color: black;
}

.users {
  flex: 1;
  display: flex;
}

.users-list {
  position: relative;
  width: 100%;
}

.room-id {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.room-id-text {
  font-size: 5vw;
}

.drop-section {
  flex: 2;
  background-color: yellow;
}

.music-player {
  flex: 1;
  background-color: red;
}
